*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	width: 1924px;
	font-family: "微软雅黑";

	/*margin: 0 ;*/
	padding-top: 68px;
}

/*导航条开始*/
.top_bg{
	width: 100%;
	height: 68px;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}

.top{
	width: 1860px;
	margin: 0 auto;

	height: 68px;
}

/*logo*/
.top .logo{
	height: 48px;
	margin-top: 10px;

	float: left;
	margin-right: 44px;

	cursor: pointer;
}

.logo img{
	height: 100%;
}


/*导航nav*/
.nav{
	float: left;
	height:40px; 

	line-height: 40px;
	margin-top: 14px;
}

.nav a{
	display: block;
	float: left;
	margin-right: 38px;

	font-size: 22px;
	color: #fff;

}

.nav a.grogshop{
	color:#eb6100;
	border-bottom: 1px red solid;
}

/*右 信息部分 */
.top_right{
	float: right;

	height:40px; 
	line-height: 40px;

	margin-top: 14px;

	position: relative;
	/*left: 20px;*/

}


/*QQ*/
.top_right img{
	width: 66px;
	height: 70px;
	
	float: left;
	position: relative;
	top: -14px;
}


/*weixin*/
img.weixin,img.site{
	height: 40px;
	width: 54px;
	top: 0px;

	margin-right: 30px;
	margin-left: 8px;

	/*border: 1px red solid;*/
}


/*地址*/
img.site{
	height: 40px;
	width: 24px;
	top: 0px;

	margin-right: 16px;
	margin-left: 0;

	/*border: 1px red solid;*/
}


/*登录 注册 洛阳*/
.Lrs{
	display: block;
	float: left;

	margin-right:20px; 
	font-size: 22px;

	color: #fff;
}


/*导航条结束*/

/*<!-- center_content样式部分 -->*/
.liu_Search{
	height:48px;
	width:696px;
	margin:0 auto;
	margin-top: 50px;
	font-size: 0;
	border:1px solid gray;
  
	
}
.liu_Search input{
	height:42px;
	width:550px;
    float:left;
    font-size: 18px;
    color:gray;
    outline: none;
    position: relative;
    top:2px;
    left:1px;
    border: none;
    
}
.liu_Search img{
	float:right;
}
.liu_Play{
	height:240px;
	width: 1204px;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}
.liu_divs div{
     width: 100%;
     height:200px;
     display: none;
}

.liu_divs .liu_show{
	display: block;
	

}
.liu_Top li{
    float: left;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    border:1px solid gray;
    border-right: none;
    border-bottom:none;
}
.liu_Top li:last-child{
	width:900px;
	border:none;
	border-left:1px solid gray;
	border-bottom:1px solid gray;

}
.liu_Top li button{
	height: 50px;
	width: 100px;
	border-right: none;
	outline: none;
	cursor: pointer;
	background-color: #fff;
	font-size: 18px;
}
.liu_divs .liu_show ul{
	position: absolute;
	top:49px;
	width: 100%;
	height:148px;
	border:1px solid gray;
	border-top:none;

}
.liu_divs .liu_show ul li{
	margin-top:30px;
	height: 30px;
	line-height: 30px;
}
 .liu_divs .liu_show ul li span{
 	margin-left: 30px;
 	font-weight: bold;
 }
 .liu_divs .liu_show ul li span:last-child{
 	margin-left: -5px;
 }
 .liu_divs .liu_show ul li span a{
 	margin-left: -20px;
 	color:#000;
 	font-weight: normal;
 }
 .liu_divs .liu_show ul li span:nth-last-child(2) a{
 	color:#eb6100;
 }
 .liu_on{
 	border-top:2px solid #eb6100;
 	border-bottom:none;
 }
 /*利用JSON控制生成的 页面样式开始部分*/
 .liu_middle{
 	height:1600px;
 	width: 1204px;
 	margin: 0 auto;
 	position: relative;
 	
 }
 .liu_JScontrl{
      width: 1204px;
      margin-top: 5px;

 }
 .liu_JScontrl ul{
      	position: relative;
      	
      }
     .liu_JScontrl ul li{
     	height:450px;
     	width:350px;
     	float: left;
     	margin-right: 20px;
     	margin-top: 20px;
     	position: relative;
     	cursor: pointer;
     	transform:scale(1,1);
    	transition:all 1s ease 0s;
     }
      
      .liu_JScontrl ul li:hover{
      	     transform:scale(1.1,1.1);
      }
      .liu_jsonImg{
      	width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
        
      }
      .liu_jsonSpan1{
      	float: left;
      	width: 200px;
      	position:absolute;
        left:30px;
        bottom:30px;
      
      }
      .liu_jsonSpan2{
      	font-size: 20px;
      	color:orange;
      	position:absolute;
        right:100px;
        bottom:5px;
      }
      /*底部点击页面跳转样式部分开始*/
      .liu_Pages{
      	height:30px;
      	line-height: 30px;
      	text-align: center;
      	width:800px;
        margin: 32px 0 60px 280px;
        margin-top:1500px;
      }
      .liu_Pages div{
      	float: left;
      	margin-left: 10px;
      	cursor: pointer;
      	/*border:1px solid gray;*/
      }
  
      .liu_Pages input{
        width:20px;
        height:20px;
        border-radius:5px;
        outline: none;

      }
.Dg_Col{
      	float: left;
      	color: gray;
      	height:25px;
      	width: 25px;
      	border:1px solid gray;
      	text-align: center;
      	margin-left:8px;
      }

  /**/
 /*利用JSON控制生成的 页面样式结束部分*/
/*center_content 结束*/
/*footer开始*/
.footer{
	width: 100%;
	height: 373px;
	background-color: #333333;
}
/*第一层*/
.footer_top{
	width: 1574px;
	height: 214px;
	border-bottom: solid 1px #666666;
	padding-left: 350px;
}
.footer .footer_top dl{
	width: 209px;
	height: 166px;
	float: left;
	padding-top: 48px;
	font-size: 14px;
	line-height: 28px;
}
#scd{
	width: 201px;
}
#trd{
	width: 205px;
}
.footer .footer_top dl dt{
	color: #FFFFFF;
}
.footer .footer_top dl dd a:hover{
	text-decoration: underline;
}
.footer .footer_top dl dd a{
	color: #999999;
}
.footer .footer_top .f_last{
	width: 98px;
}
.footer .footer_top .last dd{
	width: 95px;
	position: relative;
	top: 28px;
}
.footer .footer_top .lasts dd{
	width: 103px;
	position: relative;
	top: 55px;
}
.footer .footer_top img{
	width: 130px; 
	height: 130px;
	margin-top: 42px;
}

/*第二层*/
.footer .footer_bottom{
	width: 1555px;
	height: 122px;
	/*border-bottom: solid 1px #666666;*/
	padding-left: 352px;
	padding-top: 32px;

}
.footer .footer_bottom p{
	color: #999999;
    font-size: 12px;
    position: relative;
    top: -60px;
    margin-bottom: 24px;
    margin-left: 100px;
}
/*footer结束*/
