/*body,ul,li,div,html{
	margin:0;
	padding:0
	}*/
.box{
    width: 1204px;
    height: 610px;
    position: relative;
    left: 376px;
    overflow: hidden;
   }
  #text{
 
    position: relative;
    top:100px;
    height: 366px;

  }
.slideImageBox{
	width:1204px;
	height:366px;
	display:block;

	}
.slideImageBox ul{
	font-size:0;
	width:1204px;
	height:366px;
	list-style:none;
	display:block;
	white-space:nowrap;
	text-align:center;
	margin-left:calc(0px - 70%);
	padding:0;
	
}
.slideImageBox ul li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:#928D8D;
	margin:0;
	padding:0;
	overflow: hidden;
	}
	.slideImageBox ul li:hover{
     transform:scale(1.2,1.2);
     transition:all 1s ease 0s;
    
	}
.oneImageBox{
	width:80%;
	height:366px;
	vertical-align:middle;
	position: relative;
	}

.oneImageBox .spans{
	position: absolute;
	top:2px;
	left: 0;
    font-size: 16px;
    color:#fff;
	background-color: rgba(0,0,0,0.36);	
}


.oneImageBox .div_sub{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 16px;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.38);

}
.SP{
	color:#fff;
	position:absolute;
	left: 0;

}
.SP1{
	color: #eb6100;
	position: absolute;
	bottom: 2px;
	left: 0;
}
.SP2{
	color: #fff;
	background-color:#eb6100;
	height: 32px;
	width: 102px;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	border-radius: 10px;
	margin: 15px 0 0 850px;
}


.oneImageBox2{
	width:80%;
	height:366px;
	vertical-align:middle;
	padding:0
	}
.oneImageBox2 img{
	margin:0;
	top:0;
	height:366px;
	width: 100%;
	}
.chooseBar{
	height:6px;
	position:absolute;
	top:470px;
	left:528px;
	/*background-color: red;*/
	z-index:666;
	}
.chooseBar button{
	outline: none;
	zoom:1;
	width:51px;
	height:6px;
	cursor:pointer;	
}

